# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.env

# Logs
logs/
*.log

# Data
data/raw/*
data/processed/*
data/exports/*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# VS Code
.vscode/

# Streamlit
.streamlit/

# Docker
*.pid

# venv
venv/
__pycache__/
*.pyc
.env
